html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

div.heading {
	width: 100%;
	background: #4d494f;
}

.heading {
	font-family: Helvetica, sans-serif;
	color: white;
	font-size: 2em;
	padding: 5px 15px;
	line-height: 2em;
	vertical-align: center;
}